<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        
        <client>
            <endpoint address="net.tcp://localhost:8733/Magic8BallService/"
                binding="netTcpBinding" 				
                contract="ServiceReference1.IMagic8BallService" 
				name="BasicHttpBinding_IMagic8BallService" />
        </client>
    </system.serviceModel>
</configuration>